*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/
.container {
    width: 80%;
    margin: 70px auto;
    font-size: larger;
}
/*fine common*/

/*card*/
.card {
    position: relative;
    width: 300px;
    display: inline-block;
    margin: 30px 200px;
} 

.card_image_first {
    display: inline;
}

.card_image_second {
    display: none;
}

.card:hover .card_image_first {
    display: none;
}

.card:hover .card_image_second {
    display: inline;
}

.prima .seconda .terza .quarta .quinta .sesta {
    display: inline;
}
/*fine card*/

/*sconti*/
.card .discount-red {
    position: absolute;
    bottom: 130px;
    left: 0px; 
    background-color: red;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: white;
    text-align: center;
}

.card .discount-green{
    position: absolute;
    bottom: 130px;
    left: 120px; 
    background-color: rgb(3, 165, 111);
    width: 200px;
    height: 50px;
    line-height: 50px;
    color: white;
    text-align: center;   
}

.card .discount-green-last {
    position: absolute;
    bottom: 130px;
    left: 0; 
    background-color: rgb(3, 165, 111);
    width: 200px;
    height: 50px;
    line-height: 50px;
    color: white;
    text-align: center; 
}
/*fine sconti*/

/*heart*/
.card .heart {
    position: absolute;
    width: 70px;
    height: 70px;
    line-height: 70px;
    top: 60px;
    left: 570px;
    background-color: white;
    text-align: center;
    font-size: 40px;
}
/*fine heart*/

/* card text */
.brand {
    bottom: 50px;
    left: 40px; 
}

.product-name {
    top: 1010px;
    left: 40px; 
}

.price {
    top: 1100px;
    left: 40px; 
    color: red;
}

.original-price {
    top: 1100px;
    left: 140px; 
}

del {
    text-decoration: line-through;
}
/* card text */