*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/
.container {
    width: 80%;
    margin: 70px auto;
}
/*fine common*/

/*card*/
.card {
    position: relative;
    width: 200px;
    height: 400px;
    display: inline;
} 

.card_image_first {
    display: inline;

}

.card_image_second {
    display: none;
}

.card:hover .card_image_first {
    display: none;
}

.card:hover .card_image_second {
    display: inline;
}
/*fine card*/

/*sconti*/
.discount-red{
    position: absolute;
    bottom: 90px;
    background-color: red;
    margin: 0px;
    width: 50px;
    height: 25px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.discount-green{
    position: absolute;
    bottom: 90px;
    background-color: rgb(3, 165, 111);
    margin: 0;
    width: 120px;
    height: 25px;
    left: 60px;
    color: white;
    text-align: center;
    font-size: 20px;
}
/*fine sconti*/

/*heart*/
.heart {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    margin: 0;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 35px;
}
/*fine heart*/

/* price*/
.price {
    color: red;
}

del {
    text-decoration: line-through;
}
/*fine price*/